
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#click{
    display: none;
}
@media (max-width:420px) {
    body{
        overflow-x: hidden;
    }

    header{
        width: 100%;
        height: 20vh;
        background-color: brown;
    }
    header .nav-first{
        width: 100%;
        height: 13vh;
        display: flex;
        align-items: center;
        background-color: red;
    }
    header .nav-first .logo{
        width: 20%;
        height: 100%;
    }
    header .nav-first .logo img{
        width: 100%;
        height: 100%;
        
    }
    header .nav-first .search-nav{
        width: 40%;
        height: 50%;
        background-color: transparent;
        position: relative;
        left: 9%;
    }
    header .nav-first .search-nav .nav-search1{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 10px 20px;
        background-color: white;
        border-radius: 30px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    }
    header .nav-first .search-nav .nav-search1 a{
        text-decoration: none;
        color: black;
        font-size: 18px;

    }
    header .nav-first .search-nav .nav-search1 a:hover{
        color: aqua;
    }
    header .nav-first .search-nav .nav-search1 input{
        width: 100%;
        height: 100%;
        /* border-radius: 28px; */
        outline: none;
        border: none;
        font-weight: 500;
        /* transition: 0.8s; */
        background-color: transparent;
    }
    header .nav-first .supp{
        display: flex;
        align-items: center;
        background-color: transparent;
        width: 100%;
        height: 7vh;
        position: absolute;
        margin-top: 12px;
        top: 11.3%;
        justify-content: space-around;
    }
    header .nav-first .supp a{
        text-decoration: none;
        color: rgb(36, 35, 35);
        font-weight: 500;

    }
    header .nav-first .supp a i{
        color: black;
        margin-right: 12px;
    }
    header .nav-first .supp a:hover{
        color: aqua;
        letter-spacing: 1px;
    }

    header .second-nav{

        align-items: center;
        width: 349px;
        height: 100vh;
        background-color: white;
        left: -100%;
        position: relative;
        z-index: 1;
        bottom: 18vh;
        transition: 0.10s ease-in;
        
    }


    #click:checked ~ .click-1 i::before{
        content: "\f00d";  /** \f00d **/
    }
    #click:checked ~ .second-nav{
        left: 0%;   
    }
    header .second-nav .menu{
        width: 100%;
        height: 100%;
        display: block;
        align-items: center;
        position: relative;
        list-style: none;
        
        
    }
    header .second-nav .menu .li1{
        width: 100%;
        height: 10vh;
        position: relative;
        justify-content: center;
        top: 5%;
        border-bottom: 1px solid black;
        background-color: transparent;

    }
    header .second-nav .menu .li1 li a{
        text-decoration: none;
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .second-nav .menu .li1 li a .img1{
        width: 18%;
        height: 100%;
        position: relative;
        right: 28%;
        
    }
    header .second-nav .menu .li1 li a .img1 img{
        width: 100%;
        height: 100%;
    }
    header .second-nav .menu .li1 li a p{
        font-size: x-large;
        font-weight: 800;
        color: black;
        position: relative;
        right: 25%;
    }
    header .second-nav .menu .li1 li a i{
        font-size: large;
        font-weight: 600;
        color: black;
        position: relative;
        left: 26%;
    }

    header .second-nav .menu .li1 li a .img2{
        width: 18%;
        height: 100%;
        position: relative;
        right: 10%;
        
    }
    header .second-nav .menu .li1 li a .img2 img{
        width: 100%;
        height: 100%;
    }
    header .second-nav .menu .li1 li a .para-4{
        font-size: x-large;
        font-weight: 800;
        color: black;
        position: relative;
        right: 6%;
    }
    header .second-nav .menu .li1 li a .a-1{
        font-size: large;
        font-weight: 600;
        color: black;
        position: relative;
        left: 8%;
    }




    header .second-nav .menu .li1 li a .img3{
        width: 18%;
        height: 100%;
        position: relative;
        right: 24%;
        
    }
    header .second-nav .menu .li1 li a .img3 img{
        width: 100%;
        height: 100%;
    }
    header .second-nav .menu .li1 li a .para-5{
        font-size: x-large;
        font-weight: 800;
        color: black;
        position: relative;
        right: 20%;
    }
    header .second-nav .menu .li1 li a .a-2{
        font-size: large;
        font-weight: 600;
        color: black;
        position: relative;
        left: 21%;
    }





    header .second-nav .menu .li1 li a .img4{
        width: 18%;
        height: 100%;
        position: relative;
        right: 5%;
        
    }
    header .second-nav .menu .li1 li a .img4 img{
        width: 100%;
        height: 100%;
    }
    header .second-nav .menu .li1 li a .para-6{
        font-size: x-large;
        font-weight: 800;
        color: black;
        position: relative;
        right: 1%;
    }
    header .second-nav .menu .li1 li a .a-3{
        font-size: large;
        font-weight: 600;
        color: black;
        position: relative;
        left: 2%;
    }


    header .second-nav .menu .li1 li a .img5{
        width: 18%;
        height: 100%;
        position: relative;
        right: 7%;
        
    }
    header .second-nav .menu .li1 li a .img5 img{
        width: 100%;
        height: 100%;
    }
    header .second-nav .menu .li1 li a .para-7{
        font-size: x-large;
        font-weight: 800;
        color: black;
        position: relative;
        right: 3%;
    }
    header .second-nav .menu .li1 li a .a-4{
        font-size: large;
        font-weight: 600;
        color: black;
        position: relative;
        left: 4%;
    }


    header .second-nav .menu .li1 li a .img6{
        width: 18%;
        height: 100%;
        position: relative;
        right: 10%;
        
    }
    header .second-nav .menu .li1 li a .img6 img{
        width: 100%;
        height: 100%;
    }
    header .second-nav .menu .li1 li a .para-8{
        font-size: x-large;
        font-weight: 800;
        color: black;
        position: relative;
        right: 7%;
    }
    header .second-nav .menu .li1 li a .a-5{
        font-size: large;
        font-weight: 600;
        color: black;
        position: relative;
        left: 7%;
    }

    header .second-nav .menu .li1 li a .img7{
        width: 18%;
        height: 100%;
        position: relative;
        right: 18%;
        
    }
    header .second-nav .menu .li1 li a .img7 img{
        width: 100%;
        height: 100%;
    }
    header .second-nav .menu .li1 li a .para-9{
        font-size: x-large;
        font-weight: 800;
        color: black;
        position: relative;
        right: 15%;
    }
    header .second-nav .menu .li1 li a .a-6{
        font-size: large;
        font-weight: 600;
        color: black;
        position: relative;
        left: 15%;
    }


    header .second-nav .menu .li1 li a .img8{
        width: 18%;
        height: 100%;
        position: relative;
        right: 14%;
        
    }
    header .second-nav .menu .li1 li a .img8 img{
        width: 100%;
        height: 100%;
    }
    header .second-nav .menu .li1 li a .para-10{
        font-size: x-large;
        font-weight: 800;
        color: black;
        position: relative;
        right: 11%;
    }
    header .second-nav .menu .li1 li a .a-7{
        font-size: large;
        font-weight: 600;
        color: black;
        position: relative;
        left: 11%;
    }

    header .click-1 i{
        position: relative;
        left: 90%;
        bottom: 45%;
        font-size: xx-large;
        cursor: pointer;
    }


    .slider .slider-1{
        width: 500%;
        height: 50vh;
        display: flex;
        overflow-x: hidden;
        animation-name: slider;
        animation-delay: 2s;
        animation-duration: 50s;
        animation-iteration-count: infinite;
        position: relative;
    }
    
    .slider .slider-1 .inner{
        width: 20%;
        height: 100%;
        overflow-y: hidden;
    }
    .slider .slider-1 .inner img{
        width: 100%;
        height: 100%;
    }
    @keyframes slider {
        0%{
            left: -0%;
        }
        10%{
            left: -100%;
        }
        20%{
            left: -200%;
        }
        30%{
            left: -300%;
        }
        40%{
            left: -400%;
        }
        50%{
            left: -400%;
        }
        60%{
            left: -300%;
        }
        70%{
            left: -200%;
        }
        80%{
            left: -100%;
        }
        90%{
            left: 0%;
        }
    }

}