@media (max-width:420px) {
    body{
        overflow-x: hidden;
    }
    header{
        width: 100%;
        height: 15vh;
        position: fixed;
        z-index: 1;
        background-color: rgba(255, 255, 255, 1);
    }
    header .hedding-1{
        width: 100%;
        height: auto;
        background-color: transparent;
        display: none;
        
        
    }
    header .logo{
        width: 100%;
        height: 10vh;
        background-color: transparent;
        display: block;
        
    }
    header .logo .logo-1{
        width: 25%;
        height: 100%;
        position: relative;
        left: 5%;
    }
    header .logo .logo-1 img{
        width: 100%;
        height: 100%;
    }
    header .logo .search{
        width: 30%;
        height: 50%;
        position: relative;
        z-index: 1;
        bottom: 80%;
        left: 40%;
               
    }
    header .logo .login{
        width: 100%;
        height: 5vh;
        background-color: transparent;
        position: relative;
        z-index: 1;
        bottom: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    header .logo .login a{
        position: relative;
        left: 0%;
        font-size: small;
    }
    header .third-sec{
        width: 60%;
        height: 70vh;
        background-color: white;
        position: absolute;
        z-index: 1;
        left: -100%;
        top: 15%;
        transition: 2s ease-in;
        position: relative;
        gap: 10%;
    
    }
    header .third-sec .menu-2{
        width: 100%;
        height: 100%;
        display: block;
        list-style: none;
        position: relative;
        gap: 5%;
        

        background-color: red;
        
    }
    header .third-sec .menu-2 li a{
        text-decoration: none;
        font-size: large;
        flex-direction: column;
        font-weight: 600;
        position: relative;
        padding: 10px 10px;
        left: 10%;
        margin-top: 20px;
        background-color: white;
        color: rgb(66, 65, 65);
        margin-top: 30px;
    }
    header .myicon{
        position: relative;
        bottom: 43%;
        left: 85%;
        width: 5%;
    }
    header .myicon i{
        font-size: x-large;
        font-weight: bold;
    }
    .myicon{
        display: block;
    }
    #click:checked ~ .myicon i::before{
        content: "\f00d";  /** \f00d **/
    }

    #click:checked ~ .third-sec{
        left: 0%;
    }

    /**********************header css end******************* */
/**********************section css start******************* */


    .dog{
        width: 100%;
        height: 40vh;
        background-color: rgba(252, 232, 186, 0.384);
        position: relative;
        top: 20vh;
    }
    .dog .dog-image{
        width: 100%;
        height: 100%;
    }
    .dog .dog-image img{
        width: 100%;
        height: 100%;
    }
    .dog .show .sort{
        width: 50%;
        text-align: center;
        display: none;
        align-items: center;
        justify-content: center;
    }
    .dog .show{
        width: 100%;
        height: 20%;
        display: none;
        align-items: center;
        justify-content: space-around;
    }


    /**********************section css end******************* */
/**********************section product css start******************* */
.product_1{
width: 100%;
height: 2000vh;
background-color: transparent;
position: relative;
top: 20vh;
}

.product_1 .hom{
width: 50%;
height: auto;
display: flex;
list-style: none;
position: relative;
gap: 3%;
left: 10%;
background-color: transparent;
top: 1%;
}
.product_1 .product_2{
width: 100%;
height: 95%;
background-color: transparent;
position: relative;
top: 2.5%;
/* left: 10%; */
display: block;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;

}
.product_1 .product_2 .ima{
width: 80%;
height: 3.2%;
background-color: rgba(246, 246, 246, 0.668);
position: relative;
border: 1px solid blue;
border-radius: 10px;
position: relative;
gap: 10px;
margin-top: 10px;

}
.product_1 .product_2 .ima-1{
    display: none;
}
.product_1 .product_2 .ima .acana .ins_1{
text-decoration: none;
font-size: large;
color: rgba(2, 2, 114, 0.648);
position: relative;
top: 20%;
left: 5%;
}
/**********************section product css end******************* */
/**********************section write css start******************* */
.write{
width: 100%;
height: 80vh;
position: relative;
top: 22vh;
background-color: rgba(225, 225, 225, 0.834);
display: flex;
align-items: center;
}
.write .supp{
    width: 90%;
    height: 90%;
    position: relative;
    left: 5%;
    top: 5%;
}

.write .supp .and{
    width: 100%;
    height: 20%;
    background-color: transparent;
    font-size: x-large;
}

.write .supp .make{
    position: relative;
    top: 15px;
    font-size: large;
}
/* ----------------------------footer start------------------------------ */
.footer{
position: relative;
top: 30vh;
width: 100%;
padding: 0rem 0rem;
height: 200vh;
background-color: transparent;
border-top: 1px solid gray;
}
.footer .footer-1{
display: block;
flex-wrap: wrap;
justify-content: space-around;
width: 100%;
height: 60%;

background-color: transparent;
}
.footer .footer-1 .had{
width: 95%;
height: 20%;
position: relative;
left: 5%;
background-color: transparent;
}

.footer .footer-1 .had-1{
width: 95%;
height: 20%;
position: relative;
left: 5%;
background-color: transparent;
}
.footer .footer-1 .had-2{
width: 95%;
height: 20%;
position: relative;
left: 5%;

background-color: transparent;
}

.footer .footer-1 .pay{
width: 95%;
height: 30%;
position: relative;
left: 2.5%;
top: 5%;
background-color: transparent;
}
.footer .footer-1 .pay .google .leave{
width: 100%;
height: 35vh;
margin-top: 12px;
}


.footer .free{
width: 100%;
height: 30%;
background-color: transparent;
display: none;
flex-wrap: wrap;
justify-content: space-around;
border-top: 1px solid gray;
border-bottom: 1px solid gray;
}
.footer .free .shopp{
width: 30%;
height: 100%;
display: block;
align-items: center;
justify-content: center;
background-color: transparent;
}


.footer .insta{
width: 100%;
height: 10%;
position: relative;
top: 30%;
display: block;
background-color: transparent;
align-items: center;
justify-content: space-around;
border-top: 1px solid gray;
}

footer .insta .you a{
    text-decoration: none;
    padding: 15px 15px;
    background-color: black;
    font-size: large;
    margin: 10px;
    background-color: gray;
    border-radius: 40%;
    color: black;
    position: relative;
    left: 30%;
}
footer .insta .addres{
    width: 100%;
    background-color: transparent;
}
footer .insta .addres .dress{
    width: 80%;
    position: relative;
    left: 10%;
}
}