@media (max-width:920px) {
        body{
            overflow-x: hidden;
        }
        header{
            width: 100%;
            height: 15vh;
            position: fixed;
            z-index: 1;
            background-color: rgba(255, 255, 255, 1);
        }
        header .hedding-1{
            width: 100%;
            height: auto;
            background-color: transparent;
            display: none;
            
            
        }
        header .logo{
            width: 100%;
            height: 10vh;
            background-color: transparent;
            display: block;
            
        }
        header .logo .logo-1{
            width: 25%;
            height: 100%;
            position: relative;
            left: 5%;
        }
        header .logo .logo-1 img{
            width: 100%;
            height: 100%;
        }
        header .logo .search{
            width: 30%;
            height: 50%;
            position: relative;
            z-index: 1;
            bottom: 80%;
            left: 40%;
                   
        }
        header .logo .login{
            width: 100%;
            height: 5vh;
            background-color: transparent;
            position: relative;
            z-index: 1;
            bottom: 50%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        header .logo .login a{
            position: relative;
            left: 0%;
        }
        header .third-sec{
            width: 80%;
            height: 80vh;
            background-color: transparent;
            position: absolute;
            z-index: 1;
            left: -100%;
            top: 15%;
            transition: 2s ease-in;
        
        }
        header .third-sec .menu-2{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            list-style: none;
            position: relative;
            
            border-radius: 15px;
            background-color: gray;
            
        }
        header .third-sec .menu-2 li a{
            text-decoration: none;
            font-size: large;
            font-weight: 600;
            position: relative;
            left: 10%;
            margin-top: 20px;
            color: rgb(66, 65, 65);
        }


        header .third-sec .menu-2 li .a_1{
            text-decoration: none;
            font-size: large;
            font-weight: 600;
            position: relative;
            right: 110px;
            /* left: 10%; */
            /* margin-top: 20px; */
            color: rgb(0, 0, 0);
        }

        header .third-sec .menu-2 li .a_2{
            text-decoration: none;
            font-size: large;
            font-weight: 600;
            position: relative;
            right: 110px;
            /* left: 10%; */
            /* margin-top: 20px; */
            color: rgb(0, 0, 0);
        }
        header .third-sec .menu-2 li .a_4{
            text-decoration: none;
            font-size: large;
            font-weight: 600;
            position: relative;
            right: 100px;
            /* left: 10%; */
            /* margin-top: 20px; */
            color: rgb(0, 0, 0);
        }
        header .third-sec .menu-2 li .a_5{
            text-decoration: none;
            font-size: large;
            font-weight: 600;
            position: relative;
            right: 45px;
            /* left: 10%; */
            /* margin-top: 20px; */
            color: rgb(0, 0, 0);
        }
        header .third-sec .menu-2 li .a_6{
            text-decoration: none;
            font-size: large;
            font-weight: 600;
            position: relative;
            right: 50px;
            /* left: 10%; */
            /* margin-top: 20px; */
            color: rgb(0, 0, 0);
        }
        header .third-sec .menu-2 li .a_8{
            text-decoration: none;
            font-size: large;
            font-weight: 600;
            position: relative;
            right: 85px;
            /* left: 10%; */
            /* margin-top: 20px; */
            color: rgb(0, 0, 0);
        }
        header .third-sec .menu-2 li .a_9{
            text-decoration: none;
            font-size: large;
            font-weight: 600;
            position: relative;
            right: 75px;
            /* left: 10%; */
            /* margin-top: 20px; */
            color: rgb(0, 0, 0);
        }
        header .myicon{
            position: relative;
            bottom: 43%;
            left: 85%;
        }
        header .myicon i{
            font-size: x-large;
            font-weight: bold;
        }
        .myicon{
            display: block;
        }
        #click:checked ~ .myicon i::before{
            content: "\f00d";  /** \f00d **/
        }
    
        #click:checked ~ .third-sec{
            left: 0%;
        }

        /**********************header css end******************* */
/**********************section css start******************* */


        .dog{
            width: 100%;
            height: 40vh;
            background-color: rgba(252, 232, 186, 0.384);
            position: relative;
            top: 20vh;
        }


        /**********************section css end******************* */
/**********************section product css start******************* */
.product_1{
    width: 100%;
    height: 1700vh;
    background-color: transparent;
    position: relative;
    top: 20vh;
}

.product_1 .hom{
    width: 50%;
    height: auto;
    display: flex;
    list-style: none;
    position: relative;
    gap: 3%;
    left: 10%;
    background-color: transparent;
    top: 1%;
}
.product_1 .product_2{
    width: 80%;
    height: 95%;
    background-color: transparent;
    position: relative;
    top: 2.5%;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1%;
}
.product_1 .product_2 .ima{
    width: 45%;
    height: 3.8%;
    background-color: rgba(246, 246, 246, 0.668);
    position: relative;
    border: 1px solid blue;
    border-radius: 10px;
    
}
.product_1 .product_2 .ima .acana .ins_1{
    text-decoration: none;
    font-size: large;
    color: rgba(2, 2, 114, 0.648);
    position: relative;
    top: 20%;
    left: 5%;
}
/**********************section product css end******************* */
/**********************section write css start******************* */
.write{
    width: 100%;
    height: 70vh;
    position: relative;
    top: 22vh;
    background-color: rgba(225, 225, 225, 0.834);
    display: flex;
    align-items: center;
}
/* ----------------------------footer start------------------------------ */
.footer{
    position: relative;
    top: 30vh;
    width: 100%;
    padding: 0rem 0rem;
    height: 110vh;
    background-color: transparent;
    border-top: 1px solid gray;
}
.footer .footer-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 60%;
    
    background-color: transparent;
}
.footer .footer-1 .had{
    width: 40%;
    height: 20%;
    background-color: transparent;
}

.footer .footer-1 .had-1{
    width: 40%;
    height: 20%;
    background-color: transparent;
}
.footer .footer-1 .had-2{
    width: 30%;
    height: 20%;
    position: relative;

    background-color: transparent;
}

.footer .footer-1 .pay{
    width: 55%;
    height: 30%;
    position: relative;
    /* left: 5%; */
    background-color: transparent;
}
.footer .footer-1 .pay .google .leave{
    width: 100%;
    height: 35vh;
    margin-top: 12px;
}


.footer .free{
    width: 100%;
    height: 30%;
    background-color: transparent;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.footer .free .shopp{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}


.footer .insta{
    width: 100%;
    height: 10%;
    position: relative;
    top: 30%;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid gray;
}
}